<?xml version="1.0" encoding="UTF-8" ?>
<!-- 樣例 -->
<mapper namespace="user">
    <insert id="insertUser">
        INSERT INTO
            t_user(name, age)
        VALUES(#{name}, #{age})
    </insert>
    <select id="selectById" resultType="org.god.ibatis.pojo.User">
        SELECT
            *
        FROM
            t_user
        WHERE
            id = #{id}
    </select>
</mapper>