<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace 不能使用別名機制，必須寫全限定介面名稱，帶有包名的。 -->
<mapper namespace="com.powernode.mybatis.mapper.CarMapper">

    <delete id="deleteBatch">
        DELETE FROM car WHERE id in(${ids})
    </delete>

    <select id="selectByCarType" resultType="com.powernode.mybatis.pojo.Car">
        SELECT
            id,
            car_num as carNum,
            brand,
            guide_price as guidePrice,
            produce_time as produceTime,
            car_type as carType
        FROM
            car
        WHERE
            car_type = #{carType}
    </select>
</mapper>