<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- sqlMapper.xml 文件的編寫者，提供者是誰？使用你 mybatis 框架中的 java 工程師負責提供的。 -->
<!-- 要想使用這種動態代理機制：namespace 必須是 dao 介面的全限定名稱。 -->
<mapper namespace="com.powernode.bank.dao.AccountDao">

    <!-- 要想使用這種機制：id 必須是 dao 介面的方法名 -->
    <select id="selectByActon" resultType="com.powernode.bank.pojo.Account">
        SELECT
            *
        FROM
            t_act
        WHERE
            actno = #{actno}
    </select>

    <update id="updateByActno">
        UPDATE
            t_act
        SET
            balance = #{balance}
        WHERE
            actno = #{actno}
    </update>
</mapper>