<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 開啟 mybatis 對標準日誌的實現 -->
    <!-- <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings> -->

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver"/>
                <property name="url" value="jdbc:postgresql://localhost:5433/postgres"/>
                <property name="username" value="postgres"/>
                <property name="password" value="mysecretpassword"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 執行 XxxxMapper.xml 文件的路徑 -->
        <!-- resource 屬性會自動從類的根路徑下開始查找資源 -->
        <mapper resource="CarMapper.xml"/>
        <mapper resource="UserMapper.xml"/>
        <!-- resource 屬性，是從類路徑當中加載資源。 -->
        <!-- <mapper resource="com/CarMapper2.xml"/> -->

        <!-- url 屬性，從絕對路徑當中加載資源。（很少使用） -->
        <!-- 語法格式： file:///絕對路徑 -->
        <!-- 不建議： 因為移植性差 -->
        <!-- <mapper url="file:///d:/CarMapper.xml"/> -->
    </mappers>
</configuration>